body {
  background-color: #cdcdcd;
  /*background-image: url("https://cdn.wallpapersafari.com/46/81/215NeC.jpg");*/
  padding: 0;
  height: 100%;
}

.poster {
    width: 100%;
}

.sidepane {
  display: flex;
  float: left;
  width: 30%;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#searchbox {
  width: 75%;
}
#searchbutton {
  width: 20%;
  float: right;
}
#searchresults {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.moviepane {
  overflow: scroll;
  height: 100vh;
  float: right;
  width: 70%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 12.5%;
  max-width: 12.5%;
  margin-left: auto;
  margin-right: auto;
}

.column img {
  margin-bottom: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}