body {
  background-color: #000000;
  /*background-image: url("https://cdn.wallpapersafari.com/46/81/215NeC.jpg");*/
}

.poster {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 15.75%;
  max-width: 15.75%;
  padding: 0 3px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}