body {
  padding: 0;
  height: 100vh;
}
h1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
img {
  cursor: pointer;
  width: 100%;
}
#sidepane {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#search-box {
  width: 100%;
  float: left;
}
#search-button {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
#random-button {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
#results-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#results-poster {
  margin-left: auto;
  margin-right: auto;
}
#results-watchopts {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}